.paginations {
  height: 38px;
  font-size: 14px;
  text-align: center;
}
.paginations .item {
  position: relative;
  float: left;
  margin-right: -1px;
  padding: 8px;
  min-width: 20px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #cccccc;
}
.paginations .item:hover {
  color: #ff4400;
  border-color: #ff4400;
  z-index: 1;
}
.paginations .current,
.paginations .current:hover {
  color: #ffffff;
  border-color: #ff4400;
  background-color: #ff4400;
  z-index: 1;
}
.paginations .disabled,
.paginations .disabled:hover {
  color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
  z-index: auto;
}
.paginations .dot,
.paginations .dot:hover {
  color: #000000;
  border-color: transparent;
}
.paginations .skip-wrap {
  float: left;
  margin-left: 10px;
  line-height: 38px;
}
.paginations .skip-wrap em {
  font-style: normal;
}
.paginations .skip-wrap .input {
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #cccccc;
  text-align: center;
  vertical-align: top;
}
.paginations .skip-wrap .input:focus {
  border-color: #ff4400;
}
.paginations .skip-wrap .skip {
  width: 57px;
  height: 38px;
  color: #ffffff;
  border: none;
  background-color: #ff4400;
  cursor: pointer;
}
